@{
    ViewData["Title"] = "صفحه اول";
}

@await Component.InvokeAsync("HotNewsTile")


@await Component.InvokeAsync("CategoryNewsMain")<!-- First block end -->


@await Component.InvokeAsync("CategoryNewsSecondary")<!-- 2rd block end -->


@await Component.InvokeAsync("OtherNews")<!-- 3rd block end -->


<section class="ad-content-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img class="img-responsive" src="images/banner-ads/ad-content-two.png" alt="">
            </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
</section><!-- Ad content two end -->
