@{
    ViewData[index: "Title"] = "";
    Layout = "_Layout";
}

@await Component.InvokeAsync(name: "HotNewsTile")


<!-- News Category -->
<!-- TODO: clean up this section ↓ -->
<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                @await Component.InvokeAsync(name: "CategoryNewsMain", arguments: new { @categoryId = 1, @quentity = 5 })

                <div class="gap-40"></div>

                @await Component.InvokeAsync(name: "CategoryNewsMain", arguments: new { @categoryId = 6, @quentity = 5 })

            </div><!-- Content Col end -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-right">
                    <div class="widget">
                        <partial name="_SocialBox" />
                    </div><!-- Widget Social box end -->

                    @await Component.InvokeAsync(name: "MostSeenNews", arguments: new{@quentity = 4})
                    <!-- Trending news end -->

                </div><!-- Sidebar right end -->
            </div><!-- Sidebar Col end -->

        </div><!-- Row end -->
    </div><!-- Container end -->
</section>

<!-- First block end -->


<section class="block-wrapper p-top-0">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync(name: "CategoryNewsSecondary", arguments: new { @categoryId = 1, @quentity = 4 })
            @await Component.InvokeAsync(name: "CategoryNewsSecondary", arguments: new { @categoryId = 6, @quentity = 4 })
            @await Component.InvokeAsync(name: "CategoryNewsSecondary", arguments: new { @categoryId = 1, @quentity = 4 })
        </div>
    </div>
</section>
<!-- 2rd block end -->

<section class="block-wrapper p-bottom-0">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync(name: "OtherNews")
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-right">
                

                    <div class="widget color-default">
                        <h3 class="block-title"><span>تبلیغات</span></h3>
                        <div id="adro-364140" style="display: inline-block; transform-origin: right top; float: none; width: 300px; height: 431.333px; transform: scale(1.00083);" class="adro-b adro-b-300x400 adro-resizable"><iframe src="https://slot.adro.co/showad/c.php?adwidth=300&amp;adheight=400&amp;aduser=1556443638&amp;awrey=32" height="400" width="300" frameborder="0" scrolling="no" style="background: #FFF; width: 300px; height:400px;"></iframe></div>
                        <!-- List post block end -->
                    </div><!-- Latest Review Widget end -->

                    <partial name="_Newsletters" />
                </div><!--Sidebar right end -->
            </div><!-- Sidebar col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
</section><!-- 3rd block end -->
<!-- 3rd block end -->


