<section class="block-wrapper p-bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="more-news block color-default">
                    <h3 class="block-title"><span>خبرهای بیشتر</span></h3>

                    <div id="more-news-slide" class="owl-carousel owl-theme more-news-slide">
                        <div class="item">
                            <div class="post-block-style post-float-half clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-responsive" src="images/news/video/video1.jpg" alt="">
                                    </a>
                                </div>
                                <a class="post-cat" href="#">ویدئو</a>
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-author"><a href="#">جان اسنو</a></span>
                                        <span class="post-date">29 خرداد 1396</span>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم</p>
                                </div><!-- Post content end -->
                            </div><!-- Post Block style 1 end -->

                            <div class="gap-30"></div>

                            <div class="post-block-style post-float-half clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-responsive" src="images/news/tech/game5.jpg" alt="">
                                    </a>
                                </div>
                                <a class="post-cat" href="#">بازی ها</a>
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-author"><a href="#">جان اسنو</a></span>
                                        <span class="post-date">27 اسفند 1395</span>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم</p>
                                </div><!-- Post content end -->
                            </div><!-- Post Block style 2 end -->

                            <div class="gap-30"></div>

                            <div class="post-block-style post-float-half clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-responsive" src="images/news/tech/game4.jpg" alt="">
                                    </a>
                                </div>
                                <a class="post-cat" href="#">بازی ها</a>
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-author"><a href="#">جان اسنو</a></span>
                                        <span class="post-date">24 تیر 1396</span>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم</p>
                                </div><!-- Post content end -->
                            </div><!-- Post Block style 3 end -->

                            <div class="gap-30"></div>

                            <div class="post-block-style post-float-half clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-responsive" src="images/news/tech/robot5.jpg" alt="">
                                    </a>
                                </div>
                                <a class="post-cat" href="#">رباتیک</a>
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-author"><a href="#">جان اسنو</a></span>
                                        <span class="post-date">24 تیر 1396</span>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم</p>
                                </div><!-- Post content end -->
                            </div><!-- Post Block style 4 end -->
                        </div><!-- Item 1 end -->

                        <div class="item">
                            <div class="post-block-style post-float-half clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-responsive" src="images/news/video/video2.jpg" alt="">
                                    </a>
                                </div>
                                <a class="post-cat" href="#">ویدئو</a>
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-author"><a href="#">جان اسنو</a></span>
                                        <span class="post-date">29 خرداد 1396</span>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم</p>
                                </div><!-- Post content end -->
                            </div><!-- Post Block style 5 end -->

                            <div class="gap-30"></div>

                            <div class="post-block-style post-float-half clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-responsive" src="images/news/video/video3.jpg" alt="">
                                    </a>
                                </div>
                                <a class="post-cat" href="#">ویدئو</a>
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-author"><a href="#">جان اسنو</a></span>
                                        <span class="post-date">31 تیر 1396</span>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم</p>
                                </div><!-- Post content end -->
                            </div><!-- Post Block style 6 end -->

                            <div class="gap-30"></div>

                            <div class="post-block-style post-float-half clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-responsive" src="images/news/lifestyle/architecture1.jpg" alt="">
                                    </a>
                                </div>
                                <a class="post-cat" href="#">معماری</a>
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-author"><a href="#">جان اسنو</a></span>
                                        <span class="post-date">23 مرداد 1396</span>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم</p>
                                </div><!-- Post content end -->
                            </div><!-- Post Block style 7 end -->

                            <div class="gap-30"></div>

                            <div class="post-block-style post-float-half clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-responsive" src="images/news/tech/game1.jpg" alt="">
                                    </a>
                                </div>
                                <a class="post-cat" href="#">رباتیک</a>
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-author"><a href="#">جان اسنو</a></span>
                                        <span class="post-date">24 تیر 1396</span>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم</p>
                                </div><!-- Post content end -->
                            </div><!-- Post Block style 8 end -->
                        </div><!-- Item 2 end -->

                    </div><!-- More news carousel end -->
                </div><!--More news block end -->
            </div><!-- Content Col end -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-right">

                    <div class="widget color-default">
                        <h3 class="block-title"><span>جدیدترین نقد و بررسی ها</span></h3>
                        <div class="list-post-block">
                            <ul class="list-post review-post-list">
                                <li class="clearfix">
                                    <div class="post-block-style post-float clearfix">
                                        <div class="post-thumb">
                                            <a href="#">
                                                <img class="img-responsive" src="images/news/review/review1.jpg" alt="">
                                            </a>
                                        </div><!-- Post thumb end -->

                                        <div class="post-content">
                                            <h2 class="post-title title-small">
                                                <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                                            </h2>
                                            <div class="post-meta">
                                                <div class="review-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fad fa-star-half-alt"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div><!-- Post meta end -->
                                        </div><!-- Post content end -->
                                    </div><!-- Post block style end -->
                                </li><!-- Li 1 end -->

                                <li class="clearfix">
                                    <div class="post-block-style post-float clearfix">
                                        <div class="post-thumb">
                                            <a href="#">
                                                <img class="img-responsive" src="images/news/review/review2.jpg" alt="">
                                            </a>
                                        </div><!-- Post thumb end -->

                                        <div class="post-content">
                                            <h2 class="post-title title-small">
                                                <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                            </h2>
                                            <div class="post-meta">
                                                <div class="review-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fad fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                        </div><!-- Post content end -->
                                    </div><!-- Post block style end -->
                                </li><!-- Li 2 end -->

                                <li class="clearfix">
                                    <div class="post-block-style post-float clearfix">
                                        <div class="post-thumb">
                                            <a href="#">
                                                <img class="img-responsive" src="images/news/review/review3.jpg" alt="">
                                            </a>
                                        </div><!-- Post thumb end -->

                                        <div class="post-content">
                                            <h2 class="post-title title-small">
                                                <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                                            </h2>
                                            <div class="post-meta">
                                                <div class="review-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div><!-- Post content end -->
                                    </div><!-- Post block style end -->
                                </li><!-- Li 3 end -->

                                <li class="clearfix">
                                    <div class="post-block-style post-float clearfix">
                                        <div class="post-thumb">
                                            <a href="#">
                                                <img class="img-responsive" src="images/news/review/review4.jpg" alt="">
                                            </a>
                                        </div><!-- Post thumb end -->

                                        <div class="post-content">
                                            <h2 class="post-title title-small">
                                                <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                                            </h2>
                                            <div class="post-meta">
                                                <div class="review-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fad fa-star-half-alt"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div><!-- Post content end -->
                                    </div><!-- Post block style end -->
                                </li><!-- Li 4 end -->

                            </ul><!-- List post end -->
                        </div><!-- List post block end -->
                    </div><!-- Latest Review Widget end -->

                    <div class="widget m-bottom-0">
                        <h3 class="block-title"><span>خبرنامه</span></h3>
                        <div class="ts-newsletter">
                            <div class="newsletter-introtext">
                                <h4>به روز باشید</h4>
                                <p>با عضویت در خبرنامه جدیدترین اخبار را در ایمیل خود دریافت کنید!</p>
                            </div>

                            <div class="newsletter-form">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="ایمیل" autocomplete="off">
                                        <button class="btn btn-primary">عضویت</button>
                                    </div>
                                </form>
                            </div>
                        </div><!-- Newsletter end -->
                    </div><!-- Newsletter widget end -->
                </div><!--Sidebar right end -->
            </div><!-- Sidebar col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
</section><!-- 3rd block end -->
