<footer id="footer" class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-info-content">
                        <div class="footer-logo">
                            <img class="img-responsive" src="images/logos/footer-logo.png" alt="">
                        </div>
                        <p>
                        خبرگزاری اخبار موثق، خبرگزاری ای کاملا مردمی است!
                            </p>
                        <p class="footer-info-phone">
                            <i class="fas fa-phone"></i>
                            <span class="ltr_text">
                                <a href="tel:+989386114201">
                                    0938-611-4201
                                </a>
                            </span>
                        </p>
                        <p class="footer-info-email">
                            <i class="fas fa-envelope"></i>
                            <span class="ltr_text">
                                <a href="mailto:info@meytol.ir" style="text-decoration: none;">
                                    info[at]meytol[dot]ir
                                </a>
                            </span>
                        </p>
                        <ul class="unstyled footer-social">
                            <li>
                                <a title="Rss" href="#">
                                    <span class="social-icon"><i class="fas fa-rss fa-2x"></i></span>
                                </a>
                                <a title="Facebook" href="#">
                                    <span class="social-icon"><i class="fab fa-facebook-square fa-2x"></i></span>
                                </a>
                                <a title="Twitter" href="#">
                                    <span class="social-icon"><i class="fab fa-twitter fa-2x"></i></span>
                                </a>
                                <a title="Telegram" href="#">
                                    <span class="social-icon"><i class="fab fa-telegram-plane fa-2x"></i></span>
                                </a>
                                <a title="Instagram" href="#">
                                    <span class="social-icon"><i class="fab fa-instagram fa-2x"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- Footer info content end -->
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Footer info end -->

</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="copyright-info">
                    <span>تمامی حقوق برای «اخبار موثق» محفوظ است.</span>
                    <span>2018 - @DateTime.Now.Year ©</span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="footer-menu">
                    <ul class="nav unstyled">
                        <li><a href="@Url.Action("ContactUs","Home")">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- Row end -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
            <button class="btn btn-primary" title="Back to Top">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>

    </div><!-- Container end -->
</div><!-- Copyright end -->