<div class="widget m-bottom-0">
    <h3 class="block-title"><span>خبرنامه</span></h3>
    <div class="ts-newsletter">
        <div class="newsletter-introtext">
            <h4>به روز باشید</h4>
            <p>با عضویت در خبرنامه جدیدترین اخبار را در ایمیل خود دریافت کنید!</p>
        </div>

        <div class="newsletter-form">
                <div class="form-group">
                    <input type="text" name="name" class="form-control form-control-lg" id="subscribeRegisterNameInput" placeholder="نام و نام خانوادگی" autocomplete="off">
                    <br/>
                    <input type="email" name="email" id="subscribeRegisterEmailInput" class="form-control form-control-lg" placeholder="email@example.com" style="direction: ltr" autocomplete="off">
                    <button class="btn btn-primary" id="subscribeRegisterBtn">عضویت</button>
                </div>
        </div>
    </div><!-- Newsletter end -->
</div><!-- Newsletter widget end -->