@section Styles
{
    <style>
        li {
            display: block;
            margin-right: auto;
            margin-right: auto;
        }
    </style>
}

<div class="widget">
    <h3 class="block-title"><span>ما را دنبال کنید</span></h3>

    <ul class="social-icon">
        <li class="">
            <a href="#" target="_blank">
                <i class="fa fa-rss fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fab fa-google-plus fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fab fa-vimeo-square fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
        </li>
    </ul>
</div>