<ul class="social-icon-box unstyled">
    <li class="rss">
        <a href="#">
            <i class="fa fa-rss"></i>
            <span class="ts-social-title">RSS</span>
            <span class="ts-social-desc">لورم ایپسوم متن ساختگی</span>
        </a>
    </li>

    <li class="facebook">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
            <span class="ts-social-title">فیسبوک</span>
            <span class="ts-social-desc">لورم ایپسوم متن ساختگی</span>
        </a>
    </li>

    <li class="twitter">
        <a href="#">
            <i class="fab fa-twitter"></i>
            <span class="ts-social-title">توییتر</span>
            <span class="ts-social-desc">لورم ایپسوم متن ساختگی</span>
        </a>
    </li>

    <li class="gplus">
        <a href="#">
            <i class="fab fa-google-plus-g"></i>
            <span class="ts-social-title">گوگل پلاس</span>
            <span class="ts-social-desc">لورم ایپسوم متن ساختگی</span>
        </a>
    </li>
</ul>