<div id="top-bar" class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="ts-date">
                    <i class="fad fa-calendar-check"></i>
                    @DateTime.Now.ToLongDateString()
                </div>
                <ul class="unstyled top-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")">صفحه نخست</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ContactUs", "Home")">درباره ما</a>
                    </li>
                </ul>
            </div><!--/ Top bar left end -->

            <div class="col-md-4 col-sm-4 col-xs-12 top-social text-right">
                <ul class="unstyled">
                    <li>
                        <a title="Facebook" href="#">
                            <span class="social-icon">
                                <i class="fab fa-facebook-f"></i>
                            </span>
                        </a>
                        <a title="Twitter" href="#">
                            <span class="social-icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                        </a>
                        <a title="Google+" href="#">
                            <span class="social-icon">
                                <i class="fab fa-google-plus-g"></i>
                            </span>
                        </a>
                        <a title="Linkdin" href="#">
                            <span class="social-icon">
                                <i class="fab fa-linkedin"></i>
                            </span>
                        </a>
                        <a title="Rss" href="#">
                            <span class="social-icon">
                                <i class="fas fa-rss"></i>
                            </span>
                        </a>
                    </li>
                </ul><!-- Ul end -->
            </div><!--/ Top social col end -->
        </div><!--/ Content row end -->
    </div><!--/ Container end -->
</div><!--/ Topbar end -->