@model DataAccessLayer.Entities.Category

@{
    ViewData["Title"] = "ایجاد دسته بندی جدید";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create","Categories"))
        {
            @Html.HiddenFor(c => c.ParentId)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">عنوان</label>
                <input asp-for="Title" name="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-default"/>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت</a>
</div>

